<header class="top-navbar">

  <!-- Left -->

  <div class="navbar-left">

    <button class="sidebar-toggle">
      <i class="bi bi-list"></i>
    </button>

    <div class="page-heading">

      <h4>Dashboard</h4>

      <span>
        Occupational Health & Safety
      </span>

    </div>

  </div>


  <!-- Right -->

  <div class="navbar-right">


    <!-- Search -->

    <div class="navbar-search">

      <i class="bi bi-search"></i>

      <input
        type="text"
        placeholder="Search anything...">

      <span class="search-shortcut">
        Ctrl K
      </span>

    </div>


    <!-- Notification -->

    <button class="nav-icon">

      <i class="bi bi-bell"></i>

      <span class="notification-dot"></span>

    </button>


    <!-- Settings -->

    <button class="nav-icon">

      <i class="bi bi-gear"></i>

    </button>


    <!-- User -->

    <div class="user-profile">

      <div class="user-avatar">
        PG
      </div>

      <div class="user-info">

        <strong>Pravin Ghaytadak</strong>

        <span>EHS Administrator</span>

      </div>

      <i class="bi bi-chevron-down user-arrow"></i>

    </div>

  </div>

</header>